.filter-container {
    min-width: 350px;
}

.filters-container-title {
    display: inline-block;
    font-weight: bold;
    font-size: 11pt;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1rem; 
    left: 0px;
    text-align: left;
    color: #4e4e4e;
}

.filter-logo {
    display: inline-block;
    margin-left: 1rem;
}

.filter-name {
    display: inline-block;
    font-weight: bold;
    font-size: 10pt;
    padding: 10px;
    left: 0px;
}

.filter-title-box {
    text-align: left;
    color: #006eb4;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;  
  border-bottom: 5px solid #006eb4;
  float: right;
  margin-right: 1rem;
  margin-top: 1rem;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;  
  border-top: 5px solid #006eb4;
  float: right;
  margin-right: 1rem;
  margin-top: 1rem;
}

.stars-selector-container {
    display: block;
    text-align: left;
}

.stars-selector-checkbox {
    display: inline-block;
    margin-left: 1em; 
    margin-right: 5px
}

.stars-selector-label {
    margin-top: -3px;
    position: relative;
}

.stars-selector-label-all {
    font-weight: bold;
    font-size: 10pt;
}


.name-filter-container {
    display: block;
}

.name-filter-input {
    display: inline-block;
    margin-left: 1em;
    margin-bottom: 1em;
    float: left;
}

#name-filter-button {
    display: inline-block;
    float: left;
    height: 30px;
    font-size: 9pt;
    margin-left: 1.3em;
    margin-bottom: 1em;
    margin-right: 1em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 10pt;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 10pt;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 10pt;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 10pt;
    }