.hotel-container {
    padding: 1rem;
    flex-direction: row; 
    height: initial;
    width: 100%;
}

.hotel-card-image {
    width: 100%; 
    height: auto; 
    display: block;
    position: relative;
}

.hotelDetailsContainer {
    margin-top: 1em;
    top: 0px;
    position: relative;
    width: auto;
    max-width: 170px;
    color: #006eb4
}

.hotelDetail {
    text-align: left;
    display: block;
    font-weight: bold;
    margin-top: -4px;
}

.price-box {
    position: relative; 
    width: 250px; 
    height: 100%;
    border-left: black 2px; 
    margin-top: 1em; 
    padding-top: 1em;
    display: inline-block;
}

.price-header {
    display: block; 
    color: #4e4e4e;
    font-size: 12pt;
    margin-top: 1em;
}


.price-container {
    display: block; 
    color: #ec6100;
}

.price-currency {
    display: inline-block;
    font-size: 18pt;
}

.price-value {
    display: inline-block;
    font-size: 24pt;
    margin-top: 2pt;
    font-weight: bold;
}

.amenity {
    display: inline-block; 
    margin-right: 0.5em;
}

.watch-hotel-button {
    font-size: 16pt;
    width: 180px;
}

@media only screen and (min-width : 768px) {

    .hotel-container {
        padding: 1rem;
        flex-direction: row; 
        height: initial;
        width: 100%;
        min-width: 768px;
    }

    .hotel-card-image {
        width: 280px; 
        height: 180px; 
        float: left;
        display: inline-block;
        position: relative;
    }

    .hotelDetailsContainer {
        margin-left: 1em;
        margin-top: 0px;
        position: relative;
        width: auto;
        float: left;
        max-width: 170px;
        color: #4e4e4e
    }

    .hotelDetail {
        text-align: left;
        display: block;
        font-weight: bold;
        margin-top: -4px;
    }

    .price-box {
        right: 0px; 
        position: relative; 
        width: 250px; 
        height: 100%;
        border-left: black 2px; 
        margin-top: -1.2em; 
        padding-top: 1em;
        display: inline-block;
        float: right;
    }

    .price-header {
        display: block; 
        color: #4e4e4e;
    }


    .price-container {
        display: block; 
        color: #ec6100;
    }

    .price-currency {
        display: inline-block;
        font-size: 18pt;
    }

    .price-value {
        display: inline-block;
        font-size: 24pt;
        margin-top: 2pt;
        font-weight: bold;
    }

    .amenity {
        display: inline-block; 
        margin-right: 0.5em;
    }

    .watch-hotel-button {
        font-size: 16pt;
        width: 180px;
    }

}