.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  left: 10px;
}

.App-header {
  background-color: #232f83;
  height: 80px;
  padding: 18px;
  color: white;
}


.App-title {
  font-size: 1.5em;
}

.App-content {
  margin: 1em;
  padding-bottom: 5em;
}