body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #21007a;
    border-color: #21007a;;
    font-weight: bold;
    cursor: pointer;
}